[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "lib/PageIndex"]
	path = lib/PageIndex
	url = https://github.com/VectifyAI/PageIndex.git
